<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://static.runoob.com/assets/qrcode/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.2"></script>
    <title>虫洞</title>
<body>
<div class="container">
    <div class="row" id="app">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">这里是黑洞</h3>
                <form>
                    <div class="col-auto">
                        <div class="form-group">
                            <input type="file" class="file" class="form-control-file" id="file" @change="upload"/>
                            <label for="file">{{msg}}</label>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        本虫洞讲武德, 不会保存数据, 而且传输是一次性的
                    </div>
                    <hr/>
                    <div class="col-auto">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">白洞地址</div>
                            </div>
                            <input type="text" class="form-control" v-model="whiteholeUrl">
                            <input type="button" class="btn btn-sm btn-outline-info" value="copy" @click="copy(whiteholeUrl)">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">下载码</div>
                            </div>
                            <input type="text" class="form-control" v-model="downloadCode" @input="refreshData()"/>
                            <input type="button" class="btn btn-sm btn-outline-info" value="copy" @click="copy(downloadCode)">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">下载链接</div>
                            </div>
                            <input type="text" class="form-control" :value="downloadUrl">
                            <input type="button" class="btn btn-sm btn-outline-info" value="copy" @click="copy(downloadUrl)">
                        </div>
                    </div>
                </form>
            </div>
            <div class="mx-auto">
                <div id="qrcode"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function randNumber() {
  return new String(parseInt(Math.random() * 100000000) + 10000000).substr(1, 8);
}
var app = new Vue({
  el: '#app',
  data: {
    downloadCode: "",
    downloadUrl: "",
    whiteholeUrl: window.location.origin + "/whitehole",
    qrcode: null,
    msg: "",
  },
  created: function () {
  },
  mounted: function () {
    this.downloadCode = randNumber();
    this.qrcode = new QRCode(document.getElementById("qrcode"), {
        width : 200,
        height : 200
      });
    this.refreshData();
  },
  methods: {
    refreshData() {
      this.downloadUrl = window.location.origin + "/whitehole/" + this.downloadCode
      if (this.qrcode) {
        this.qrcode.clear();
      }
      this.qrcode.makeCode(this.downloadUrl);
    },
    upload(e) {
      let param = new FormData();
      param.append('file', e.target.files[0]);
      let config = {
         headers:{'Content-Type':'multipart/form-data'}
      };
      this.$http.post('/blackhole/' + this.downloadCode, param, config)
        .then(response => {
          console.log(response.data);
          this.msg = response.data.msg;
          if (response.data.code != 0) {
            this.downloadCode = randNumber();
            this.refreshData();
          }
        }, error => {
          console.log(error);
        })
    },
    copy(e) {
      const input = document.createElement("input");
      document.body.appendChild(input);
      input.setAttribute("value", e);
      input.select();
      if (document.execCommand("copy")) {
        document.execCommand("copy");
      }
      document.body.removeChild(input);
    },
  },
})
</script>
</body>
</html>
